{% extends 'index.html' %}
{% load static %}
{% block title %}My Form2{% endblock %}

{% block content %}



<div class="col-md-6" style="margin:0 auto;">
    {% if success == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endif %}

<!-- # updating the dictionary
            mydictionary["error"] = errorflag  has true or false value
            mydictionary["errors"] = Errors -->
            <!-- errors is list so loop -->

    {% if error == True %}
    {% for error in errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
        <strong>{{error}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endfor %}
    {% endif %}

    <!-- post method to submit the form  -->
    <form method="POST">
        {% csrf_token %}
        <p class="text-muted">Note * : Title Should be Capital</p>
        <!-- submit form ke lia POST METHOD IS USED -->
        <!-- crf is important when method = post -->
        <!-- {{form.as_p}} -->
        <!-- {{form.as_table}} -->
        {{form.as_ul}}
        <!-- rendering the form  as_p means as paragraphs -->

        <button type="submit" class="btn btn-primary" style="margin: 1rem auto 0 auto; display: block;">Submit</button>


        <!-- <div class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div> -->

        <!-- see alerts in bootstap -->

    </form>
</div>

{% endblock %}

<!-- note when we use get method -->
<!-- http://127.0.0.1:8000/myform2/?title=TITEL&subject=SUNJECT&email=SAAKSHIJAIN -->




<!-- {% if success == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}  thus will give form submitted as the top 
    {% endif %};-->